<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ?? "OhneSize" </title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div>
        <a href="/">Home</a> | 
        <a href="/swagger/index.html">Swagger</a> | 
        <a href="/DataText">DataText</a> |
        ??
    </div>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>